<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<head th:replace="fragments :: page_head(${pageTitle}, 'tag')" />
</head>

<body>
	<header th:replace="navigation ::Navigation" />
	<div class="container-page p-5 mt-5">
		<div th:replace="breadcrumb :: content1(${pageTitle})"></div>

		<div class="text-center">
			<h2 class="custom-color"> Détails de votre compte</h2>
		</div>


		<form th:action="@{/update_account_details}" method="post" th:object="${customer}"
			style="max-width: 600px; margin: 0 auto">
			<input type="hidden" th:field="*{id}">
			<input type="hidden" name="redirect" th:value="${param.redirect}" />
			<div th:if="${message != null}" class="alert alert-success text-center">
				[[${message}]]
			</div>
			<div class="border border-secondary rounded p-3">

				<div class="form-group row mt-4">
					<label class="col-sm-4 col-form-label">E-mail:</label>
					<div class="col-sm-8">
						<input type="text" th:field="*{email}" class="form-control" readonly="readonly" />
					</div>
				</div>

				<div class="form-group row mt-4">
					<label class="col-sm-4 col-form-label">P&eacute;nom:</label>
					<div class="col-sm-8">
						<input type="text" th:field="*{firstName}" class="form-control" required="required"
							maxlength="45" minlength="2" />
					</div>
				</div>

				<div class="form-group row mt-4">
					<label class="col-sm-4 col-form-label">Nom:</label>
					<div class="col-sm-8">
						<input type="text" th:field="*{lastName}" class="form-control" required="required"
							maxlength="45" minlength="2" />
					</div>
				</div>

				<th:block th:if="${customer.authenticationType.name() == 'DATABASE'}">
					<div class="form-group row mt-4">
						<label class="col-sm-4 col-form-label">Mot de passe:</label>
						<div class="col-sm-8">
							<input type="password" th:field="*{password}" class="form-control" maxlength="15"
								minlength="6"
								oninput="checkPasswordMatch(document.getElementById('confirmPassword'))" />
						</div>
					</div>

					<div class="form-group row mt-4">
						<label class="col-sm-4 col-form-label">R&eacute;p&eacute;ter le mot de passe:</label>
						<div class="col-sm-8">
							<input type="password" id="confirmPassword" class="form-control" maxlength="15"
								minlength="6" oninput="checkPasswordMatch(this)" />
						</div>
					</div>
				</th:block>

				<div class="form-group row mt-4">
					<label class="col-sm-4 col-form-label">T&eacute;l&eacute;phone:</label>
					<div class="col-sm-8">
						<input type="text" th:field="*{phoneNumber}" class="form-control" required="required"
							maxlength="15" minlength="8" />
					</div>
				</div>

				<div class="form-group row mt-4">
					<label class="col-sm-4 col-form-label">Addresse 1:</label>
					<div class="col-sm-8">
						<input type="text" th:field="*{addressLine1}" class="form-control" required="required"
							maxlength="64" minlength="3" />
					</div>
				</div>

				<div class="form-group row mt-4">
					<label class="col-sm-4 col-form-label">Addresse 2:</label>
					<div class="col-sm-8">
						<input type="text" th:field="*{addressLine2}" class="form-control" maxlength="64" />
					</div>
				</div>

				<div class="form-group row mt-4">
					<label class="col-sm-4 col-form-label">Ville:</label>
					<div class="col-sm-8">
						<input type="text" th:field="*{city}" class="form-control" maxlength="45" minlength="2" />
					</div>
				</div>

				<div class="form-group row mt-4">
					<label class="col-sm-4 col-form-label">Pays:</label>
					<div class="col-sm-8">
						<select class="form-control" th:field="*{country}">
							<th:block th:each="country : ${listCountries}">
								<option th:value="${country.id}">[[${country.name}]]</option>
							</th:block>
						</select>
					</div>
				</div>

				<div class="form-group row mt-4">
					<label class="col-sm-4 col-form-label">&Eacute;tat/Province:</label>
					<div class="col-sm-8">
						 <input type="text" th:field="*{state}" class="form-control"
					maxlength="45" minlength="3" list="listStates" />
						<datalist id="listStates">

						</datalist>

						<!-- 2.Option Dependent Dropdown -->
						<!--<select th:field="*{state}" class="form-control"  id="stateList">
                 
                 </select>-->


					</div>
				</div>

				<div class="form-group row mt-4">
					<label class="col-sm-4 col-form-label">Code postale:</label>
					<div class="col-sm-8">
						<input type="text" th:field="*{postalCode}" class="form-control" maxlength="10" minlength="2" />
					</div>
				</div>

				<div class="text-center mt-4">
					<button type="submit" class="lg-btn">
						<i class="fas fa-sync mt-1"></i> Modifier
					</button>
				</div>
			</div>
		</form>



	</div>

	<div th:replace="fragments :: modal_dialog"></div>
	<!----------Footer--------------->

	<!-- Footer -->
	<footer th:replace="fragments ::footer" />
	<!-- END Footer -->
	<div th:replace="fragments ::LoadTotalCountProduct" />
	<script type="text/javascript">
		contextPath = "[[@{/}]]";

	</script>
	<script th:src="@{/assets/js/common_customer_form.js}"></script>


</body>

</html>