<div class="modal-header">
  <h4 class="modal-title">Details du produit</h4>
  <div class="block-options">
    <button type="button" class="btn-block-option" data-bs-dismiss="modal" aria-label="Close">
      <i class="fa fa-fw fa-times"></i>
    </button>
  </div>
</div>
<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs nav-tabs-block" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview" type="button"
        role="tab" aria-controls="overview" aria-selected="true">G&eacute;n&eacute;ral</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="description-tab" data-bs-toggle="tab" data-bs-target="#description" type="button"
        role="tab" aria-controls="description" aria-selected="false">Description</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="images-tab" data-bs-toggle="tab" data-bs-target="#images" type="button" role="tab"
        aria-controls="images" aria-selected="false">Images</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="details-tab" data-bs-toggle="tab" data-bs-target="#details" type="button" role="tab"
        aria-controls="details" aria-selected="false">D&eacute;tails</button>
    </li>
    <li class="nav-item ms-auto" role="presentation">
      <button class="nav-link" id="shipping-tab" data-bs-toggle="tab" data-bs-target="#shipping" type="button"
        role="tab" aria-controls="shipping" aria-selected="false"> <i class="fa fa-truck-moving"></i></button>
    </li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
      <div th:replace="products/product_overview_readonly :: content" />
    </div>
    <div class="tab-pane" id="description" role="tabpanel" aria-labelledby="description-tab">
      <div th:replace="products/product_description_readonly :: content" />
    </div>
    <div class="tab-pane" id="images" role="tabpanel" aria-labelledby="images-tab">
      <div th:replace="products/product_images_readonly :: content" />
    </div>
    <div class="tab-pane" id="details" role="tabpanel" aria-labelledby="details-tab">
      <div th:replace="products/product_details_readonly :: content" />

    </div>
    <div class="tab-pane" id="shipping" role="tabpanel" aria-labelledby="shipping-tab">
      <div th:replace="products/product_shipping_readonly :: content" />
    </div>
  </div>

</div>



<div class="block-content block-content-full text-end bg-body">
  <button type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal">Fermer</button>
</div>