<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<th th:replace="fragments ::page_Head('Erreur')" />
<body>
  <!-- Page Container -->
  <!--
      Available classes for #page-container:
      GENERIC
        'remember-theme'                            Remembers active color theme and dark mode between pages using localStorage when set through
                                                    - Theme helper buttons [data-toggle="theme"],
                                                    - Layout helper buttons [data-toggle="layout" data-action="dark_mode_[on/off/toggle]"]
                                                    - ..and/or One.layout('dark_mode_[on/off/toggle]')
         SIDEBAR & SIDE OVERLAY
        'sidebar-r'                                 Right Sidebar and left Side Overlay (default is left Sidebar and right Side Overlay)
        'sidebar-mini'                              Mini hoverable Sidebar (screen width > 991px)
        'sidebar-o'                                 Visible Sidebar by default (screen width > 991px)
        'sidebar-o-xs'                              Visible Sidebar by default (screen width < 992px)
        'sidebar-dark'                              Dark themed sidebar
        'side-overlay-hover'                        Hoverable Side Overlay (screen width > 991px)
        'side-overlay-o'                            Visible Side Overlay by default
        'enable-page-overlay'                       Enables a visible clickable Page Overlay (closes Side Overlay on click) when Side Overlay opens
        'side-scroll'                               Enables custom scrolling on Sidebar and Side Overlay instead of native scrolling (screen width > 991px)
         HEADER
        ''                                          Static Header if no class is added
        'page-header-fixed'                         Fixed Header
         HEADER STYLE
        ''                                          Light themed Header
        'page-header-dark'                          Dark themed Header
        MAIN CONTENT LAYOUT
        ''                                          Full width Main Content if no class is added
        'main-content-boxed'                        Full width Main Content with a specific maximum width (screen width > 1200px)
        'main-content-narrow'                       Full width Main Content with a percentage width (screen width > 1200px)
         DARK MODE
        'sidebar-dark page-header-dark dark-mode'   Enable dark mode (light sidebar/header is not supported with dark mode)
    -->
  <div id="page-container"
    class="sidebar-o sidebar-dark enable-page-overlay side-scroll page-header-fixed main-content-boxed">
    <!-- Side Overlay-->
    <aside th:replace="navigation ::Aside" />
    <!-- END Side Overlay -->

    <!-- Sidebar -->
    <!--
          Sidebar Mini Mode - Display Helper classes

          Adding 'smini-hide' class to an element will make it invisible (opacity: 0) when the sidebar is in mini mode
          Adding 'smini-show' class to an element will make it visible (opacity: 1) when the sidebar is in mini mode
              If you would like to disable the transition animation, make sure to also add the 'no-transition' class to your element

          Adding 'smini-hidden' to an element will hide it when the sidebar is in mini mode
          Adding 'smini-visible' to an element will show it (display: inline-block) only when the sidebar is in mini mode
          Adding 'smini-visible-block' to an element will show it (display: block) only when the sidebar is in mini mode
      -->
   <nav th:replace="navigation ::Navigation" />
    <!-- END Sidebar -->

    <!-- Header -->
    <header th:replace="navigation ::Header" />
    <!-- END Header -->
      <!-- Main Container -->
      <main id="main-container">
        <!-- Page Content -->
        <div class="hero">
          <div class="hero-inner text-center">
            <div class="bg-body-extra-light">
              <div class="content content-full overflow-hidden">
                <div class="py-4">
                  <!-- Error Header -->
                  <h1 class="display-1 fw-bolder text-smooth">
                    503
                  </h1>
                  <h2 class="h4 fw-normal text-muted mb-5">
                   Nous sommes d&eacute;sol&eacute;s mais notre service n'est pas disponible pour le moment...
                  </h2>
                  <!-- END Error Header -->

                  <!-- Search Form -->
                  <form action="be_pages_generic_search.html" method="POST">
                    <div class="row justify-content-center mb-4">
                      <div class="col-sm-6 col-xl-3">
                        <div class="input-group input-group-lg">
                          <input class="form-control form-control-alt" type="text" placeholder="Search application..">
                          <button type="submit" class="btn btn-dark">
                            <i class="fa fa-search opacity-75"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                  <!-- END Search Form -->
                </div>
              </div>
            </div>
            <div class="content content-full text-muted fs-sm fw-medium">
              <!-- Error Footer -->
              <p class="mb-1">
               Voulez-vous signaler un problème ?
              </p>
              <a class="link-fx" href="javascript:void(0)">Signaler</a> or <a class="link-fx"th:href="@{/}">Retourner au tableau de bord</a>
              <!-- END Error Footer -->
            </div>
          </div>
        </div>
        <!-- END Page Content -->
      </main>
      <!-- END Main Container -->
    </div>
    <!-- END Page Container -->

    <!-- Footer -->
    <footer th:replace="fragments ::footer" />
	<!-- END Footer -->
    <!--
        OneUI JS
        Core libraries and functionality
        webpack is putting everything together at assets/_js/main/app.js
    -->
    <script type="text/javascript" th:src="@{/assets/js/oneui.app.min.js}"></script>
 
</body>