<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

  <head th:replace="fragments :: page_head('Erreur', 'tag')" />
</head>

<body>
  <header th:replace="navigation ::Navigation"/>

   <div class="offer">
    <div class="small-container">
      <div class="row">
        <div class="col-2">
          <img th:src="@{/assets/media/images/404.png}" width="100%">
        </div>
        <div class="col-2">

         <h1 class="text-center error-class">404</h1>
          <small>Nous sommes d&eacute;sol&eacute;s mais la page que vous recherchez n'a pas &eacute;t&eacute; trouv&eacute;e...</small>
         
        </div>
      </div>
    </div>
  </div>


  <!----------Footer--------------->

  <!-- Footer -->
  <footer th:replace="fragments ::footer" />
  <!-- END Footer -->
<div th:replace="fragments ::LoadTotalCountProduct" />
</body>

</html>