<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<head th:replace="fragments :: page_head(${pageTitle}, 'tag')" />
</head>

<body>
	<header th:replace="navigation ::Navigation" />
	<div class="container-page p-5 mt-5">
		<div th:replace="breadcrumb :: content1(${pageTitle})"></div>
		<div class="text-center">
			<h2 class="custom-color"> [[${pageTitle}]]</h2>
		</div>


	</div>
	<div class="container">

		<div class="row">
			<div class="col-8 ">
				<div class="card">
					<div class="card-header">
						<h5>DÉTAILS DE LIVRAISON</h5>
					</div>
					<div class="card-body">
						<p>
							<b>ADRESSE CLIENT:</b>&nbsp; [[${shippingAddress}]]
							<a th:href="@{/address_book(redirect=checkout)}">[Exp&eacute;dier à une autre adresse]</a>
						</p>
						<p>
							<b>Jours pour livrer: </b>[[${checkoutInfo.deliverDays}]] jour(s)
						</p>
						<p>
							<b>Date de livraison pr&eacute;vue: </b>[[${#dates.format(checkoutInfo.deliverDate, 'E, dd
							MMM
							yyyy')}]]
						</p>
					</div>
				</div>

				<div class="card mt-3 mb-3">
					<div class="card-header">
						<h5>MODE DE PAIEMENT</h5>
					</div>
					<div class="card-body">
						<div th:if="${checkoutInfo.codSupported}">
							<form th:action="@{/place_order}" method="post">
								<p>
									<input type="radio" name="paymentMethod" id="radioCOD" value="COD" /> Paiement en
									espèces
									&nbsp;
									<button class="btn btn-primary d-none" type="submit" id="buttonSubmit">Place Order
										with COD</button>
								</p>
							</form>
						</div>

						<div id="paypal-button-container"></div>
						<form th:action="@{/process_paypal_order}" method="post" id="paypalForm">
							<input type="hidden" name="orderId" id="orderId" />
							<input type="hidden" name="paymentMethod" value="PAYPAL" />
						</form>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="block block-rounded  card">
					<div class="block-header block-header-default">
						<h3 class="card-header">R&Eacute;CAPITULATIF</h3>
					</div>
					<div class="block-content block-content-full">

						<table class="table table-borderless table-hover table-vcenter">
							<tbody>
								<th:block th:each="item : ${cartItems}">
									<tr th:with="product = ${item.product}">

										<td class="align-top text-center" colspan="2">
											[[${item.quantity}]] X &nbsp;&nbsp;<img th:src="@{${product.mainImagePath}}"
												class="img-fluid" />
										</td>

										<td>
											<a th:href="@{'/p/' + ${product.alias}}" target="_blank">
												[[${product.shortName}]]
											</a>

											<div class="fs-sm text-muted"><small>Frais de livraison: <div
														th:replace="fragments :: format_currency(${item.shippingCost})">
													</div></small></div>
										</td>
										<td class="text-end">
											<div class="fw-semibold">
												<div th:replace="fragments :: format_currency(${item.subtotal})"></div>
										</td>
									</tr>
								</th:block>
								<tr class="table-active">
									<td class="text-end" colspan="3">
										<span class="h4 fw-medium">Total articles (<span
												th:text="${cartItems.size()}"></span>)</span>
									</td>
									<td class="text-end">
										<span class="h4 fw-semibold">
											<div
												th:replace="fragments :: format_currency(${checkoutInfo.productTotal})">
											</div>
										</span>
									</td>
								</tr>
								<tr class="table-active">
									<td class="text-end" colspan="3">
										<span class="h4 fw-medium">Frais de Livraison</span>
									</td>
									<td class="text-end">
										<span class="h4 fw-semibold">
											<div
												th:replace="fragments :: format_currency(${checkoutInfo.shippingCostTotal})">
											</div>
										</span>
									</td>
								</tr>
								<tr class="table-active">
									<td class="text-end" colspan="3">
										<span class="h4 fw-medium">Total </span>
									</td>
									<td class="text-end">
										<span class="h4 fw-semibold">
											<div
												th:replace="fragments :: format_currency(${checkoutInfo.paymentTotal})">
											</div>
										</span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div th:replace="fragments :: modal_dialog"></div>
	<!----------Footer--------------->

	<!-- Footer -->
	<footer th:replace="fragments ::footer" />
	<!-- END Footer -->
	<footer th:replace="fragments ::LoadTotalCountProduct" />
	<script type="text/javascript" th:src="@{/assets/js/common_modal.js}"></script>
	<script th:src="@{https://www.paypal.com/sdk/js(client-id=${paypalClientId},currency=${currencyCode})}"></script>
	<script type="text/javascript">
		contextPath = "[[@{/}]]";
		var csrfHeaderName = "[[${_csrf.headerName}]]";
		var csrfValue = "[[${_csrf.token}]]";

		$(document).ready(function () {
			$("#radioCOD").on("click", function () {
				$("#buttonSubmit").removeClass("d-none");
			});
		});

		function validateOrder(orderId) {
			$("#orderId").val(orderId);
			$("#paypalForm").submit();
		}
		$(document).ready(function () {
			$("#radioCOD").on("click", function () {
				$("#buttonSubmit").removeClass("d-none");
			});
		});

		function validateOrder(orderId) {
			$("#orderId").val(orderId);
			$("#paypalForm").submit();
		}
		var originalTotal = "[[${checkoutInfo.paymentTotal4PayPal}]]";
		var formattedTotal = parseFloat(originalTotal.replace(",", ".")).toFixed(2);

		paypal.Buttons({
			enableStandardCardFields: true,
			createOrder: function (data, actions) {
				// setup a transaction
				return actions.order.create({

					intent: 'CAPTURE', // make payment immediately
					payer: {
						name: {
							given_name: "[[${customer.firstName}]]",
							surname: "[[${customer.lastName}]]"
						},

						address: {
							address_line_1: "[[${customer.addressLine1}]]",
							address_line_2: "[[${customer.addressLine2}]]",
							admin_area_1: "[[${customer.state}]]",
							admin_area_2: "[[${customer.city}]]",
							postal_code: "[[${customer.postalCode}]]",
							country_code: "[[${customer.country.code}]]"
						},

						email_address: "[[${customer.email}]]",

						phone: {
							phone_type: "MOBILE",
							phone_number: {
								national_number: "[[${customer.phoneNumber}]]"
							}
						}
					},

					purchase_units: [{
						amount: {
							value: formattedTotal,
							currency_code: "[[${currencyCode}]]"
						}
					}],

					application_context: {
						shipping_preference: "NO_SHIPPING"
					}
				});
			},

			onApprove: function (data, actions) {
				// buyer approved payment
				return actions.order.capture().then(function (details) {
					console.log(details);
					orderId = details.id;
					// totalAmount = details.purchase_units[0].amount.value;

					validateOrder(orderId);
				}).catch(function (error) {
					console.error("Error during capture:", error);

					if (error.message) {
						// Log the detailed error message from PayPal
						console.error("PayPal Error:", error.message);

						// Display the detailed error message to the user
						showErrorModal("PayPal Error: " + error.message);
					} else {
						// Display a generic error message to the user
						showErrorModal("An error occurred during payment authorization. Please try again.");
					}
				});







			},

			onCancel: function (data) {
				// buyer cancelled payment
				alert('Payment cancelled by the buyer');
			},

			onError: function (err) {
				// error that prevents buyer from doing checkout
				showErrorModal("Something wrong with your address information, so payment will not work.");
			}
		}).render("#paypal-button-container");


	</script>

</body>

</html>