<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content" th:remove="tag">				
			  <div class="form-group row mt-4">
			    <label class="col-sm-2 col-form-label">Numéro de commande:</label>
			    <div class="col-sm-10">
			      <input type="text" readonly class="form-control" th:value="${order.id}" disabled>
			    </div>
			  </div>
			  <div class="form-group row">
			    <label class="col-sm-2 col-form-label">Client:</label>
			    <div class="col-sm-10">
			      <input type="text" readonly class="form-control" th:value="${order.customer.fullName}"disabled>
			    </div>
			  </div>
			  <div class="form-group row mt-4">
			    <label class="col-sm-2 col-form-label">Prix d'achat:</label>
			    <div class="col-sm-10">
			      <input type="text" th:field="*{productCost}" required class="form-control" />
			    </div>
			  </div>			  		  
			  <div class="form-group row mt-4">
			    <label class="col-sm-2 col-form-label">Total article(s): </label>
			    <div class="col-sm-10">
			      <input type="text" th:field="*{subtotal}" required class="form-control" />
			    </div>
			  </div>
			  <div class="form-group row mt-4">
			    <label class="col-sm-2 col-form-label">Frais de livraison:</label>
			    <div class="col-sm-10">
			      <input type="text" th:field="*{shippingCost}" required class="form-control" />
			    </div>
			  </div>
			  <div class="form-group row mt-4">
			    <label class="col-sm-2 col-form-label">Tax:</label>
			    <div class="col-sm-10">
			      <input type="text" th:field="*{tax}" required class="form-control" />
			    </div>
			  </div>			  
			  <div class="form-group row mt-4">
			    <label class="col-sm-2 col-form-label">Total:</label>
			    <div class="col-sm-10">
			      <input type="text" th:field="*{total}" required class="form-control" />
			    </div>
			  </div>
			  <div class="form-group row mt-4">
			    <label class="col-sm-2 col-form-label">Method de paiement:</label>
			    <div class="col-sm-10">
				      <select th:field="*{paymentMethod}" class="form-control" required style="max-width: 150px">
			  			<option th:each="pm : ${T(com.xorshop.common.entity.order.PaymentMethod).values()}"
			  				th:value="${pm}" th:text="${pm}" />
				      </select>
			    </div>
			  </div>			  	
			  <div class="form-group row mt-4">
			    <label class="col-sm-2 col-form-label">Status:</label>
			    <div class="col-sm-10">
				      <select th:field="*{status}" class="form-control" required style="max-width: 150px">
			  			<option th:each="os : ${T(com.xorshop.common.entity.order.OrderStatus).values()}"
			  				th:value="${os}" th:text="${os}" />
				      </select>
			    </div>
			  </div>
</div> 