<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<head th:replace="fragments :: page_head(${pageTitle}, 'tag')" />
	<link th:href="@{/assets/star-rating/css/star-rating.css}" media="all" rel="stylesheet" type="text/css" />
	<script th:src="@{/assets/star-rating/js/star-rating.js}" type="text/javascript"></script>
	<link rel="stylesheet" th:href="@{/assets/star-rating/themes/krajee-svg/theme.css}" media="all" type="text/css" />
	<script th:src="@{/assets/star-rating/themes/krajee-svg/theme.js}" type="text/javascript"></script>
</head>

<body>
	<header th:replace="navigation ::Navigation" />
	<div class="container-page p-5 mt-5">
		<div th:replace="breadcrumb :: content1(${pageTitle})"></div>
		<div class="text-center">
			<h2 class="custom-color"> [[${pageTitle}]]</h2>
		</div>
		<div class="row mt-4">
			<div class="col-sm-2" th:each="product : ${products}">
				<div>
					<a th:href="@{${product.URI}}" th:title="${product.name}">
						<img th:src="@{${product.mainImagePath}}" height="150" />
						<br />
						<b>[[${product.shortName}]]</b>
					</a>
				</div>
				<div>
					<table>
						<tr>
							<td><input type="text" class="kv-ltr-theme-svg-star rating-loading" dir="ltr" data-size="xs"
									th:value="${product.averageRating}" /></td>
							<td><small>[[${product.reviewCount}]]</small></td>
						</tr>
					</table>
				</div>
				<div>
					<div th:replace="product/product_fragment :: product_price"></div>
				</div>
			</div>
		</div>

		<div th:replace="fragments :: pagination('/brand/' + ${brand.id}, 'product')"></div>



	</div>
	<div th:replace="fragments :: modal_dialog"></div>
	<div th:replace="fragments :: confirm_modal"></div>
	<!----------Footer--------------->
	<!-- Footer -->
	<footer th:replace="fragments ::footer" />
	<footer th:replace="fragments ::LoadTotalCountProduct" />
	<!-- END Footer -->
	<script type="text/javascript">
		$('.kv-ltr-theme-svg-star').rating({
			displayOnly: true,
			hoverOnClear: false,
			showCaption: false,
			theme: 'krajee-svg'
		});	
	</script>


</body>

</html>