<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
	<div th:fragment="content">
		<div class="row"><div class="col"><hr/></div></div>
		<div class="row m-1">
			<b id="qa">Questions et réponses pour ce produit :</b>
		</div>

		<div th:replace="question/questions_votes :: content"></div>
		
		
		<th:block sec:authorize="isAuthenticated()">
			<div>
				<th:block th:if="${numberOfQuestions > 3}">
					<a th:href="@{'/questions/' + ${product.alias}}">Voir tous [[${numberOfQuestions}]] questions</a>&nbsp;&nbsp;
				</th:block>				
			</div>
			<form class="form-inline my-2" id="formQuestion">
				<textarea id="question" class="form-control" rows="2" cols="60" placeholder="Tapez votre question ici..." required></textarea>
				&nbsp;&nbsp;
				<button id="buttonPostQuestion" class="lg-btn m-3">Publier</button>
			</form>
		</th:block>
		
		<th:block sec:authorize="!isAuthenticated()">
			<form th:action="@{'/ask_question/' + ${product.alias}}">
				<th:block th:if="${numberOfQuestions > 3}">
					<a th:href="@{'/questions/' + ${product.alias}}">Voir tous [[${numberOfQuestions}]] questions</a>&nbsp;&nbsp;
				</th:block>
				<button class="btn btn-secondary" type="submit">Poser une question</button>
			</form>
		</th:block>
		
	</div>
</body>
</html>